<% @ads.each do |ad| %>
  <h2> <%= link_to ad.pet_name, ad_path(ad) %> </h2>
  <br />
  <i> <%= ad.address_line %>
  <i> <%= ad.zipcode %> 
  <p> <%= ad.describe %> 
  <% if ad.user.present? %>

  <small><%= ad.user.email %></small>
<% end %>

<% end %>

